body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

nav {
  background-color: #4caf50; /* Green background */
  padding: 15px;
}

nav ul {
  list-style: none;
  margin: 0;
  text-align: center; /* Center the navigation items */
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav a:hover {
  background-color: #333; /* Darker background on hover */
  color: #4caf50; /* Green text on hover */
}

.container {
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #4caf50;
  border-radius: 5px;
}

.btn,
.btn-danger {
  display: inline-block;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
h1 {
  text-align: center;
  color: tomato;
}
.forum-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forum-article {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.forum-article:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.forum-actions {
  margin-top: 10px;
}

.forum-actions a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  display: inline-block; /* Ajout de cette propriété pour que les boutons apparaissent côte à côte */
}

.delete-btn {
  background-color: #e74c3c;
  border: 1px solid #c0392b;
}

.modify-btn {
  background-color: #3498db;
  border: 1px solid #2980b9;
}